*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* الخلفية */
.custom-bg {
  --background: #f6f4ee;
}

/* الهيدر */
.custom-toolbar {
  --background: #5f7c63;
  --color: #fff;
  text-align: center;
}

/* الكارد */
.password-card {
  background: #ffffff;
  padding: 25px 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
  margin-top: 30px;
  animation: fadeIn 0.6s ease-in-out;
}

/* الأيقونة */
.icon-box {
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 15px;
  color: #5f7c63;
  background: #f6f4ee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* النص */
h2 {
  margin-bottom: 5px;
  color: #333;
}

.subtitle {
  font-size: 14px;
  color: #888;
  margin-bottom: 15px;
}

/* inputs */
ion-item {
  margin-top: 12px;
  --background: #f6f4ee;
  border-radius: 12px;
  transition: 0.3s;
}

/* focus effect */
ion-item:focus-within {
  transform: scale(1.02);
  border: 1px solid #5f7c63;
}

/* button */
ion-button {
  margin-top: 20px;
  --background: #5f7c63;
  --color: #fff;
  --border-radius: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s;
}

/* hover effect */
ion-button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



