<div class="success-page" dir="rtl">
  <!-- Particles background -->
  <canvas class="particles-canvas"></canvas>

  <!-- Success card -->
  <div class="success-wrapper">
    <div class="success-card">

      <!-- Brain Animation (ion-img) -->
      <div class="brain-animation">
        <ion-img src="../../assets/images/pngtree-patient-talking-to-psychologist-png-image_4697317.png" class="brain-img"></ion-img>
      </div>

      <h2 class="success-title"> تم انشاء حسابك بنجاح ✔️</h2>
      <p class="success-sub" >رحلتك نحو راحة البال والتحرر النفسي تبدأ هنا 🌟</p>

      <ion-button class="login-btn" (click)="goLogin()">تسجيل الدخول</ion-button>
    </div>
  </div>
</div>
