<ion-header>
  <ion-toolbar>
    <ion-title>Empath AI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl" style="text-align: right">
  <div dir="rtl">
    <h1>مرحباً بك في Empath AI</h1>
    <p>أنشئ حساباً جديداً</p>

    <ion-list>
      <ion-item>
        <ion-label>الاسم الأول</ion-label>
        <ion-input type="text" placeholder="أدخل الاسم الأول"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>اسم العائلة</ion-label>
        <ion-input type="text" placeholder="أدخل اسم العائلة"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>رقم الهاتف</ion-label>
        <ion-input type="telephone" placeholder="ادخل رقم الهاتف"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>البريد الالكتروني</ion-label>
        <ion-input
          type="email"
          placeholder="ادخل البريد الألكتروني"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>كلمة المرور</ion-label>
        <ion-input type="password" placeholder="ادخل كلمة المرور"></ion-input>
      </ion-item>

      <ion-item>
        <ion-radio-group>
          <ion-item>
            <ion-label>ذكر</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>انثى</ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>

      <ion-item>
        <ion-label>رقم الطواري</ion-label>
        <ion-input type="telephone" placeholder="رقم الطواري"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>العمر</ion-label>
        <ion-input type="number" placeholder="العمر"></ion-input>
      </ion-item>

      <div class="buttons">
        <ion-button>
          التالي
          <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ion-list>
  </div>
</ion-content>
